<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stumpf.als.i_vaga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:parentActivityName=".activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.RegisterLoginActivity"
            android:parentActivityName=".activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.RegisterCarActivity"
            android:parentActivityName=".activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.RegisterGaragActivity"
            android:parentActivityName=".activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.EditUserActivity"
            android:parentActivityName=".activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.EditCarActivity"
            android:parentActivityName=".activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.EditGarageActivity"
            android:parentActivityName=".activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.ListActivity"
            android:parentActivityName=".activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:parentActivityName=".activity.SplashActivity"
            android:theme="@style/ThemeUser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SplashActivity" />
        </activity>
        <activity android:name=".activity.CallMapsActivity"></activity>
    </application>

</manifest>